.MainSection {
    height: 100vh;
}

.illustrator {
    background-image: linear-gradient(#00A3A2, #008A89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginFormSection {
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.LoginInput {
    background-color: #f0f0f0;
    border: none;
    margin-bottom: 20px;
}

::placeholder {
    color: #969696;
    font-weight: bold;
}

.Login-btn {
    background-color: #00A3A2;
    color: white;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
}

.forget-password-btn {
    color: #231E21;
    text-decoration: underline;
    text-align: center;
    font-weight: 500;
}