.sidebar {
    border: 2px solid #F5F5F5;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
}

.nav-link {
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 10px;
    color: black;
    font-weight: 600;
}

.needhelp {
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 5px;
    color: black;
    font-weight: 600;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
    margin: 10px;
}

.sidebarIcons {
    margin-right: 10px;
    color: #00A3A2;
}

.headerIconbtn {
    background-color: #F5F5F5;
    margin: 5px;
}
.detailcard{
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
.detaillabels{
    color: #555555;
    font-size: 16px;
    font-weight: 500;
}
.detailvalues{
    color: #555555;
    font-size: 16px;
    font-weight: 300;
}
.Deletebtn{
    background-color: #00A3A2;
    color: white;
    border-radius: 10px;
    width: 100%;
}
.Cancelbtn{
    border: 2px solid #00A3A2;
    color: #00A3A2;
    border-radius: 10px;
    width: 100%;
}
@media (min-width: 1080px){
    .menubtn{
        display: none;
    }
    .closebtn{
        display: none;
    }
    .sidebar{
        display: block;
    }
}
@media (max-width: 768px){
    .sidebar{
        display: none;
    }
    .totalnumberresponsive{
        width: 70px;
        height: 70px;
        float: right;
    }
    .dashboardcard{
        margin-bottom: 20px;
        text-align: start;
    }
    .dashboardcardicon{
        margin-bottom: 20px;
    }
    .responsiveicon{
        width: 25%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sidebar {
        height: 100%;
        width: 0; 
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 60px; 
        transition: 0.5s; 
      }
      .secondarycol{
        transition: margin-left .5s;
        padding: 20px;
      }
      .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .nav-item{
        text-decoration: none;
        font-size: 18px;
        transition: 0.3s;
      }
      .needhelp{
        display: none;
      }
      .Deletebtn{
        margin-bottom: 20px;
      }


}